<% content_for :title, "Register / Signup" %>
<div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <%= render "sidebar"%>  
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <h1>Create an account</h1>
              <% user = User.new %>
              <%= form_for(user, as: user, url: registration_path(user)) do |f| %>
              
              <div class="content-form-page">
               <div class="row">
                   <div class="col-md-7 col-sm-7">
                   <!-- Display error -->
                  <% if @user.errors.any?%>
                    <ul>
                    <% @user.errors.full_messages.each do |msg|%>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                  <% end %>
                  </div>
              <!-- End of Display error -->
               </div>
               <div class="row">
                <div class="col-md-7 col-sm-7">
                  <form class="form-horizontal" role="form">
                    <fieldset>
                      <legend>Your personal details</legend>
                      <div class="form-group">
                        <label for="firstname" class="col-lg-4 control-label">First Name <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <%= f.text_field :first_name, autofocus: true,id: "firstname",class: "form-control" %>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="lastname" class="col-lg-4 control-label">Last Name <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <%= f.text_field :last_name,id: "lastname",class: "form-control" %>
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="username" class="col-lg-4 control-label">User Name <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <%= f.text_field :user_name, class: "form-control", id: "username" %>
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <%= f.email_field :email, class: "form-control", id: "email" %>
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="phone" class="col-lg-4 control-label">Mobile No <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <%= f.text_field :phone_number, class: "form-control", id: "phone" %>
                          
                        </div>
                      </div>
                         <% if current_user && current_user.roles.collect{|rol| rol.name}.include?("administrator")%>
                        <div class="form-group">
                        <label for="phone" class="col-lg-4 control-label">Role <span class="require"></span></label>
                        <div class="col-lg-8">
                            

                            <%= hidden_field_tag "user[roles_ids][]", nil %>
                            <% Role.all.each do |role| %>
                            <%= check_box_tag "user[role_ids][]", role.id, current_user && current_user.role_ids.include?(role.id), id: dom_id(role) %>
                            <%= label_tag dom_id(role), role.name %><br>
<% end %>
                        </div>
                      </div>
                        <% end %>
                    </fieldset>
                    <fieldset>
                      <legend>Your password</legend>
                      <div class="form-group">
                        <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span> </label>
                        <div class="col-lg-8">
                          <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "password" %><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="confirm-password" class="col-lg-4 control-label">Confirm password <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control", id: "confirm-password" %>
                          
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Newsletter</legend>
                      <div class="checkbox form-group">
                        <label>
                          <div class="col-lg-4 col-sm-4">Singup for Newsletter</div>
                          <div class="col-lg-8 col-sm-8">
                              <%= f.check_box :subscribe_newsletter%>
                          </div>
                        </label>
                      </div>
                    </fieldset>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                          <%= f.submit "Create an account", class: "btn btn-primary" %>
                          <%= link_to "Cancel", new_user_session_path,class: "btn btn-default" %>
                        
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-4 col-sm-4 pull-right">
                    <%= render "right_sidebar"%>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>


