<%= form_for @weight_class do |f|%>

<% if @weight_class.errors.any?%>
     <h4> Below error prohibited the weight class to save </h4>
    <ul>
        <% @weight_class.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<label>  Weight Title:</label><br />
<%= f.text_field :title%><br />

<label> Weight Unit:</label><br />
<%= f.text_field :unit%><br />

<label> Value:</label><br />
<%= f.text_field :value%><br />

<%= f.submit%>
<% end %>
