<h3><%= @return_status.name %></h3><br />

<p> <strong>Is Default?:</strong> <%= @return_status.is_default ? "Yes" : "No"%></p>

<p><%= link_to "All Return Statuses", return_statuses_path%> | <%= link_to "Edit return status", edit_return_status_path(@return_status.id)%>
    | <%= link_to "Delete return status", return_status_path(@return_status.id), method: :delete, data: {confirm: "Are you sure?"} %></p>